extends layout

block body
  div(ng-controller='AppCtrl')
    h1 Sign Up

    form(novalidate, ng-submit='addUser()')
      input( type="text", ng-model="newUser.username")
      br
      input( type="password", ng-model="newUser.password")
      br
      input( type="password" )
      br
      button.btn.btn-primary(type="submit") Submit
    h2 Adding...
      div {{newUser.username}}
      div {{newUser.password}}

    ul.menu
      li
        a(href='view1') view1
      li
        a(href='view2') view2

    div(ng-view)

  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')