extends layout

block body
  div(class="signupdiv", ng-controller='AppCtrl', ng-init="setUsers( #{JSON.stringify(users)} )")
    h1 Sign Up

    form(novalidate, ng-submit='addUser()')
      input( type="text", ng-model="newUser.username")
      br
      input( type="password", ng-model="newUser.password")
      br
      input( type="password" )
      br
      button(type="submit") Submit
    h2 Adding...
      div {{newUser.username}}
      div {{newUser.password}}

  div(ng-view)

  script(src='js/lib/angular/angular.js')
  script(src='js/bootstrap.js')
  script(src='js/app.js')

