!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Seed App
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src="//code.jquery.com/jquery-1.11.0.min.js")

    #heady
      ul.menu
        li
          a(href='view1') view1
        li
          a(href='view2') view2
  
  body
    block body